@import "./core/reset";

main{
    display: flex;
}
.products{
    display: flex;
    flex-direction: column;
    width: auto;
    
    .products__box{
        display: inline-flex;
    }
}
.shop{
    display: flex;
    flex-direction: column;
    .shop__table{
        width: 500px;
        text-align: center;
    }
    .shop__table th, td{
        width: auto;
    }
    .shop__table button{
        display: inline;
        margin: 0;
        padding: 0.1rem 0.4rem;
        font-size: 1rem;
    } 
    .shop__table p{
        display: inline;
    }
}